= form_tag search_path, method: :get, class: '' do |f|
  = text_field_tag :search, params[:search], class: '', autocomplete: false, placeholder: 'Search Me'
  = button_tag class: '', type: :submit do
