.mt-5= form_tag search_path, method: :get, class: 'form-group' do |f|
  .w-50= text_field_tag :search, params[:search], class: 'form-control', autocomplete: :off, placeholder: 'Search Me'
  .mt-3= button_tag class: 'btn btn-primary', type: :submit do
    | Search
