
.search {
  margin-top: 50px;

  .search-field {
    width: 300px !important;
  }
}

.user {
  width: 50%;
  border-radius: 8px;
  border: 1px solid rgb(0.2, 0.54, 0.7);
  padding: 20px;
  box-shadow: 0px 6px 14px -6px rgba(0,0,0,0.75);

  .full-name {
    font-size: 28px;
  }

  .email, .phone {
    font-size: 18px;

    & span  {
      color: #3F7BFF;
      font-weight: bold;
    }
  }
}

.loader-wrapper {
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

input {
  height: 38px;
  padding: 5px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgb(33, 105, 200);
  outline: none;

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
}

.form {
  div ~ input {
    padding: 10px;
    font-size: 16px;
  }
}
