
.search {
  margin-top: 50px;

  .search-field {
    width: 300px !important;
  }
}

.user {
  width: 50%;
  border-radius: 8px;
  border: 1px solid rgb(0.2, 0.54, 0.7);
  padding: 20px;
  box-shadow: 0px 6px 14px -6px rgba(0,0,0,0.75);

  .full-name {
    font-size: 28px;
  }

  .email, .phone {
    font-size: 18px;

    & span  {
      color: #3F7BFF;
      font-weight: bold;
    }
  }
}

.ui-autocomplete {
  z-index: 999;
  width: 300px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #80bdff;

  .ui-menu-item {
    padding: 10px 12px;
    border-bottom: 1px solid #80bdff;
    bordet-top: 1px solid #80bdff;
    color: red;

    &:last-child {
      border-bottom: none;
    }
  }
}
.ui-helper-hidden-accessible {
  display: none;
}
